body {
    margin: 0;
}


header {
    background-color: gray;
    border-bottom: 1px solid black;

    display: flex;
    position: static;
}

main {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 0;
    padding: 5px;
}

#websiteTitle
{
    /*  */
}

#mainPostList {
    border: 1.5px solid black;
    border-radius: 5px;

    width: 70%;
    height: 630px;

    margin: 70px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    
    overflow: scroll;
}

#newPostButton {
    font-size: 1.8rem;

    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-decoration: none;

    position: fixed;
    bottom: 5%;
    right: 5%;

    padding: 8px 12px;
}

/***** Home page post *****/
div.postBody {
    border: 1px solid black;
    border-radius: 5px;

    margin-top: 10px;
}


.postTitle, .postContent {
    border: 1px solid black;
    border-radius: 5px;

    margin: 10px;
    width: 98%;
}

/* Post info */
.postInfo {
    display: flex;
    justify-content: space-between;
}
.postDate {
    font-size: .8rem;
    border: 0px;

    margin-left: 5px;
}

div.postBody button {
    margin: 5px;
}


/***** Create Post Page *****/
#createPost {
    font-size: 1.8rem;

    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-decoration: none;

    position: fixed;
    bottom: 5%;
    right: 5%;

    padding: 8px 12px;
}

/* .postTitle, .postContent {
    width: 98%;
} */