:root{
    --bg: #c9d4ea;
    --card: #ffffff5f;
    --accent: #2563eb;
    --muted: #6b7280;
    --border: #e6e9ee;
    --mainTextDark: #0f1724;
    --detailTextDark: #c7ceda;
    --mainTextlight: #ffffff;
    --detailTextlight: #c7ceda;
    --radius: 10px;
    --max-width: 1100px;
    --gap: 12px;
}

*{
  box-sizing:border-box;
  /* border: 1px solid black; */
}

/***** Responsiveness *****/
/* Big screens */
@media screen and (max-width: 950px){
  header  {
    justify-content: space-between;
    nav {
      visibility: hidden;
      display: none;
    }
    button {
      visibility: visible;
      font-weight: 700px;
    }
  }
}

/* Small screens */
@media screen and (min-width: 951px){
  header {
    justify-content: stretch;
    nav {
      visibility: visible;
    }
    button {
      visibility: hidden;
    }
  }
}

#navMenu { /* Navigation (small screens) menu */
  visibility: hidden;
  margin: auto;
  border: 1px solid #e6e9ee;
  background: #eaeef7;
  color: white;
  position: fixed;

  width: 200px;

  top: 100px;
  bottom: 0px;
  right: 0%;

  nav {
    /* border: 1px solid red; */
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align:center;
    
    text-decoration: none;
  }

  a {
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-weight:700;
  }

}


/********** All pages **********/
body{
  margin:0;
  background:var(--bg);
  width: 100%;
  color:#0f1724;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height:1.45;

  display: grid;
  grid-template-rows: 100px auto 80px;
  grid-template-areas: 
  'header'
  'body'
  'footer'
  ;
}

footer {
  grid-area: footer;
  color:var(--muted);
  font-size: .9rem;
  
  text-align: center;
  align-content: center;
  a {padding: 10px;}
}

main {
  justify-content: center;
  justify-items: center;
  justify-self: center;
  width: 1000px;
}

main.index {
  color:#0f1724;
  display: grid;
  width: 100%;
  grid-template-rows: 400px auto;

  justify-content: center;
  justify-items: center;
}

.topbar {
  grid-area: header;
  background:rgba(255, 255, 255, 1);
  border-bottom:1px solid var(--border);
  display:flex;
  align-items:center;
  /* padding:14px 20px; */
  position:sticky;
  top:0;
  z-index:30;
  
  button {
    font-weight: 700px;
    font-size: 2rem;
    border: none;
    background-color: transparent;
  }
  nav, a {
    color: black;
    text-decoration: none;
    font-weight:700;
    padding-top: 50px;
    padding-left: 10px;
  }
  h1 { 
    font-size:2rem;
    font-weight:800;
    color: black;
  }
}
  
section {
  background:var(--card);
  border:1px solid var(--border);
  border-radius:8px;
  padding:14px;
  margin:0;
  /* display:flex;
  flex-direction:column; */
  gap:8px;

  display: grid;
}

.content { /* body content container */
  grid-area: content;
  grid-row-start: 2;
  background:var(--card);
  border:1px solid var(--border);
  border-radius:var(--radius);
  width:100%;
  max-width:var(--max-width);
  margin: 20px;
  padding:16px;
  display:flex;
  flex-direction:column;
  gap:var(--gap);
  overflow-y:auto;
}

button, .button {
  font-size:16px;
  background:var(--accent);
  color:white;
  border:0;
  border-radius:999px;
  text-decoration:none;
  padding:12px 16px;
  box-shadow:0 8px 24px rgba(37,99,235,0.18);
  cursor:pointer;
  height: 50px;
  width: fit-content;
}

.leftContent {
  display: flex;
  justify-content: right;
}
.flowLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flowRight {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

/********** index.html **********/
h1 {
  text-align: center;
}

#idexProfileForm { /* index.html profile form */
  display: grid;
  grid-template-rows: auto auto auto auto auto auto 100px;
  grid-template-columns: 60%;
  justify-content: center;
  
  input {
    background-color: var(--card);
    border: 1px solid var(--bg);
    border-radius: var(--radius);
    padding: 10px 10px;
    font-size: 1.3rem;
    width: 100%;
  }
  
  select {
    background-color: var(--card);
    border: 1px solid var(--bg);
    border-radius: var(--radius);
    padding: 10px 20px;
    font-size: 1.3rem;
    width: fit-content;
  }

  .indexProfileButtons {
    display: flex;
    width: 100%;
    grid-area: submit;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1;
  }

  .indexProfileButton {
    font-size:16px;
    background: rgb(37, 100, 235);
    color:white;
    border:0;
    border-radius:999px;
    text-decoration:none;
    width: fit-content;
    padding:12px 16px;
    box-shadow:0 8px 24px rgba(37,99,235,0.18);
    cursor:pointer;
  }

  .formDiv {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    background-color: transparent; /* var(--card); */
    border-radius: var(--radius);
    padding: 5px;
    margin: 10px;
    width: 100%;

    label {
    margin: 0px;
    font-weight: 700;
    font-size: 1.4rem;
    }
  }

  .formRowDiv {
    grid-column: 1;
    display: flex;
    flex-direction: row;
    background-color: transparent; /* var(--card); */
    border-radius: var(--radius);
    padding: 5px;
    margin: 10px;
    width: 100%;

    label {
    font-weight: 700;
    font-size: 1.4rem;
    }
  }
}

/***** index.html homepage *****/

#homepageContent { /* container */
  width: 1000px;
  justify-content: space-between;
  display: grid;
    grid-template-rows: 9% 44% 44%;
    grid-template-columns: 49% 49%;
    grid-template-areas: 
    'header header'
    'questions news'
    'help ads';
  height: 900px;
  header {grid-area: header;}
  overflow-y: visible;
  
}
.hompageSection {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2px;
}
#questionsSection {
  grid-area: questions;
  overflow-y: scroll;
}
#newsSection {
  grid-area: news;
  overflow-y: scroll;
}
#helpSection {
  grid-area: help;
  overflow-y: scroll;
}
#adsSection {
  grid-area: ads;
  overflow-y: scroll;
}

.banner {
  grid-row-start: 1;
  position: relative;
  width: 100%;
  margin: 0;
  height: 300px;
  clip-path: border-box;

  h1 {
    position:absolute;
    top: 0%;
    margin: 0;
    text-align: center;
    width: 100%;
    

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .imgContainer {
  }

  img {
    width: 100%;
    object-fit: scale-down;
    border-radius: var(--radius);
  }

  label {
    /* border: 1px solid black; */
    position:absolute;
    bottom: 0%;
    text-align: left;
    margin: 0;
    font-size: .8rem;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  a {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/********** confirmation.html **********/
/* .confirmButtons {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.banned {
  background-color: red;
  color: black;
  border-radius: var(--radius);
  padding: 2px;
  font-weight: 600;
}

.unrecommended {
  background-color: orange;
  color: black;
  border-radius: var(--radius);
  padding: 2px;
  font-weight: 600;
}

/********** Forms (general) **********/

#profileForm { /* profile.html profile form */
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 60%;
  justify-content: center;
  
  input {
    background-color: var(--card);
    border: 1px solid var(--bg);
    border-radius: var(--radius);
    padding: 10px 10px;
    font-size: 1.3rem;
    width: 100%;
  }
  
  select {
    background-color: var(--card);
    border: 1px solid var(--bg);
    border-radius: var(--radius);
    padding: 10px 20px;
    font-size: 1.3rem;
    width: fit-content;
  }

  .profileButtons {
    display: flex;
    width: 100%;
    grid-area: submit;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1;
  }

  .profileButton {
    font-size:16px;
    background: rgb(37, 100, 235);
    color:white;
    border:0;
    border-radius:999px;
    text-decoration:none;
    width: fit-content;
    padding:12px 16px;
    box-shadow:0 8px 24px rgba(37,99,235,0.18);
    cursor:pointer;
  }

  .formDiv {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    background-color: transparent; /* var(--card); */
    border-radius: var(--radius);
    padding: 5px;
    margin: 10px;
    width: 100%;

    label {
    margin: 0px;
    font-weight: 700;
    font-size: 1.4rem;
    }
  }

  .formRowDiv {
    grid-column: 1;
    display: flex;
    flex-direction: row;
    background-color: transparent; /* var(--card); */
    border-radius: var(--radius);
    padding: 5px;
    margin: 10px;
    width: 100%;

    label {
    font-weight: 700;
    font-size: 1.4rem;
    }
  }
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

/* .formDiv {
  border: 1px solid var(--bg);
  background-color: var(--card);
  border-radius: var(--radius);
} */

.formLayout {
  display: flex;
  flex-direction: column;
}

/* input {
  background-color: var(--border);
  border: 1px solid var(--bg);
  padding: 3px 10px;
  font-size: 1.3rem;
} */

input.button {
  font-size:16px;
  background:var(--accent);
  color:white;
  border:0;
  border-radius:999px;
  text-decoration:none;
  width: fit-content;
  padding:12px 16px;
  box-shadow:0 8px 24px rgba(37,99,235,0.18);
  cursor:pointer;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 6px;
}

/********** create.html **********/
#postForm { /* create.html form to make posts */
  min-height: 700px;
  max-height: fit-content;

  .postTitle {
    width: 100%;
  }

  textarea {
    background-color: var(--border);
    border: 1px solid var(--bg);
    /* padding: 3px 10px; */
    font-size: 1.3rem;
    min-height: 400px;
  }
}

.draftButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/********** feed.html **********/

#mainPostList { /* only on feed.html */
    background:var(--card);
    border:1px solid var(--border);
    border-radius:var(--radius);
    width: 1000px;
    max-width:var(--max-width);
    margin:20px;
    padding:16px;
    display:flex;
    flex-direction:column;
    gap:var(--gap);
    overflow-y:auto;
    height:calc(100vh - 240px);
    justify-self: center;
}

/* Feed.html*/
#newPostButton {
  font-size:16px;
  background:var(--accent);
  color:white;
  border:0;
  border-radius:999px;
  text-decoration:none;
  position:fixed;
  bottom:24px;
  right:24px;
  padding:12px 16px;
  box-shadow:0 8px 24px rgba(37,99,235,0.18);
  cursor:pointer;
}

.filterContainer {
  position: fixed;
  right: 10px;
  top: 100px;
  grid-area: content;
  grid-row-start: 2;
  background:var(--card);
  border:1px solid var(--border);
  border-radius:var(--radius);
  width:fit-content;
  margin: 20px;
  padding:16px;
  display:flex;
  flex-direction:column;
  gap:var(--gap);
  overflow-y:auto;
}

/* Filters */
.filters {
  display: flex;
  flex-direction: column;
  width: fit-content;
  h2 {
    margin-top: 0;
  }
  label {
    margin: 0;
    font-size: 1.2rem;
  }
}

/********** posts (index.html, create.html, post.html **********/

.postBody {
  background:var(--card);
  border:1px solid var(--border);
  border-radius:8px;
  padding:14px;
  margin:0;
  /* display:flex;
  flex-direction:column; */
  gap:8px;

  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 10fr 10fr;
  align-items: center;

  .postTitle {
    grid-column: 1 / 1;
    justify-self: left;
    font-size:17px;
    font-weight:700;
    margin:0;
    padding: 0;
    color:#0b1220;
    box-shadow: none;
    background-color: transparent;
    text-decoration: underline 1.5px black;
    border: none;
    text-align: left;
    width: 90%;
  }

  .postContent {
    grid-column-start: 1;
    grid-column-end: span 2;
    font-size:15px;
    color:var(--muted);
    margin:0;
    white-space:pre-wrap;
    width: 100%;
    font-size: 1rem;
    height: 45px;
    overflow: hidden;
  }

  .postContentExpanded {
    grid-column-start: 1;
    grid-column-end: span 2;
    font-size:15px;
    color:var(--muted);
    margin:0;
    white-space:pre-wrap;
    width: 100%;
    font-size: 1rem;
    min-height: 95px;
    height: auto;
    overflow:visible;
    /* border: 1px solid red; */
  }

  .postInfo {
    grid-column: 2 / 2;
    font-weight:700;
    display: flex;
    justify-content: right;
    color:var(--muted);
    p {
      margin-right: 10px;
    }
  }

  .postDate {
    grid-column-start: 1;
    justify-self: left;
    color:var(--muted);
  }

  .postDelete {
    grid-column-start: 2;
    justify-self: right;
    color: black;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
  }
}

/*********  **********/
.profileMain p {
  padding: 10px;
}

.profileMain {
  justify-self: center;

  
  width:100%;
  max-width:var(--max-width);
  margin:20px;
  padding:16px;
  display:flex;
  flex-direction:column;
  gap:var(--gap);
  
  
}
.profileButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
